@use '../base/mixin' as *;
@use '../base/variables' as *;

input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  & + .checkbox {
    margin-left: 12px;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked {
      & + .checkbox__label {
        font-weight: 600;
        &::before {
          @include bgimage('icon_checkbox_checked', 'svg');
        }
      }
    }
    &:disabled {
      cursor: default;
      & + .checkbox__label {
        cursor: default;
        &::before {
          @include bgimage('icon_checkbox_disabled', 'svg');
        }
      }
    }
    &.button {
      &:checked {
        & + .checkbox__label {
          font-weight: 600;
          border-color: $grayscale-900;
        }
      }
      &:disabled {
        cursor: default;
        & + .checkbox__label {
          cursor: default;
          color: $gray-60;
          background-color: $grayscale-75;
        }
      }
    }
    &.color {
      & + .checkbox__label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      &:checked {
        & + .checkbox__label {
          font-weight: 600;
          border-color: $grayscale-900;
          &::before {
            @include bgimage-cololr(var(--status-color), 'icon_checkbox_checked_transparent', 'svg');
            background-position: center center;
            background-size: 24px 24px;
          }
        }
      }
      &:disabled {
        cursor: default;
        & + .checkbox__label {
          cursor: default;
          color: $gray-60;
          &::before {
            background: var(--status-color);
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 24px;
            height: 24px;
            @include bgimage('icon_checkbox_checked_disabled', 'svg');
            background-position: center center;
            background-size: 24px 24px;
          }
        }
      }
    }
  }
  &__label {
    @include inline-flex;
    color: $grayscale-800;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      margin-right: 4px;
      width: 24px;
      height: 24px;
      @include bgimage('icon_checkbox', 'svg');
    }
    &--hide {
      margin: 0;
      font-size: 0;
      &::before {
        margin: 0;
      }
    }
    &--button {
      &::before {
        content: none;
      }
    }
    &--color {
      &::before {
        margin: 0 auto;
        border-radius: 50%;
        background: var(--status-color);
        border: 1px solid $gray-25;
        margin-bottom: 4px;
      }
    }
  }
}