@use '../base/mixin' as *;
@use '../base/variables' as *;

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  display: none;
  &.is-open {
    display: block;
  }
  &__dim {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    @include tablet {
      display: none;
    }
  }
  &__content {
    @include flex-col;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 560px;
    max-height: 756px;
    padding: 40px 0;
    background-color: $white;
    overflow: hidden;
    @include tablet {
      gap: 0;
      max-width: 100%;
      max-height: 100%;
      min-height: 100%;
      padding: 0;
    }
  }
  &__header {
    position: relative;
    @include flex(center, space-between);
    padding-bottom: 20px;
    margin: 0 40px;
    border-bottom: 1px solid $gray-20;
    @include tablet {
      justify-content: center;
      flex-shrink: 0;
      height: 62px;
      padding: 0;
      margin: 0;      
    }
  }
  &__title {
    text-align: center;
    color: $gray-90;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    @include tablet {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
  }
  &__desc {
    display: inline-block;
    padding-left: 4px;
    color: $gray-90;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    @include tablet {
      display: block;
      padding-left: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }
  &__close {
    @include tablet {
      position: absolute;
      right: 24px;
      z-index: 1;
    }
  }
  &__body {
    @include flex-col;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 630px;
    padding: 0 40px;
    @include tablet {
      padding: 24px 16px;
      max-height: 100%;
      flex: 1;
    }
  }
  .content {
    & + .content {
      margin-top: 24px;
    }
  }
  &__footer {
    display: flex;
    gap: 10px;
    padding: 0 40px;
    @include tablet {
      gap: 8px;
      padding: 8px 16px;
    }
    .btn {
      flex: 1;
    }
  }

  .section--shots {
    width: 100%;
    height: 100%;
  }
  .section__header {
    background: transparent;
    border: 0;
  }
  .shots-card {
    position: relative;
    width: 100%;
    height: 100%;
    &__poster {
      width: 100%;
      height: 100%;
      &::before {
        @include before_after;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        pointer-events: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        z-index: 1;
      }
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      position: absolute;
      left: 16px;
      bottom: calc(87px + env(safe-area-inset-bottom));
      isolation: isolate;
      width: calc(100% - 100px);
      z-index: 1;
      .shots-card__title {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 12px;        
      }
    }
    &__products {
      @include flex(center, flex-start);
      position: relative;
      background-color: $white;
      &::before {
        @include before_after;
        position: absolute;
        right: -6px;
        top: 5px;
        width: 6px;
        height: calc(100% - 10px);
        background-color: rgba(255, 255, 255, .9);
        pointer-events: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        z-index: 0;
      }
      &::after {
        @include before_after;
        position: absolute;
        right: -12px;
        top: 10px;
        width: 12px;
        height: calc(100% - 20px);
        background-color: rgba(255, 255, 255, .8);
        pointer-events: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        z-index: 0;
      }
    }
    &__back-items-shadow {
      position: absolute;
      inset: 0;
      z-index: -1;
      pointer-events: none;
    }
    &__img {
      position: relative;
      width: 75px;
      aspect-ratio: 1 / 1;
    }
    &__info {
      @include flex-col;
      width: calc(100% - 75px - 48px);
      padding: 0 16px;
    }
    &__brand {
      color: $gray-60;
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
    }
    &__name {
      @include ellipsis;
      color: $gray-80;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 2px;
    }
    &__price {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $gray-80;
      font-size: 14px;
      font-weight: 600;
      line-height: 120%;
    }
    &__count {
      @include flex-col;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 48px;
      min-height: 54px;
      color: $gray-80;
      font-size: 11px;
      font-weight: 400;
      line-height: 120%;
      padding-right: 8px;
      border-left: 1px solid $gray-20;
      &-value {
        color: $gray-90;
        font-size: 14px;
        font-weight: 700;
        line-height: 120%;
      }
    }
    &__volumn {
      position: absolute;
      left: 16px;
      top: 62px;
      z-index: 1;
      button {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0, 0, 0, .6);
      }
    }
    &__util {
      position: absolute;
      right: 16px;
      bottom: calc(48px + env(safe-area-inset-bottom));
      color: $white;
      font-size: 12px;
      font-weight: 600;
      line-height: 120%;
      @include flex-col;
      justify-content: center;
      gap: 12px;
      z-index: 1;
      &-like {
        @include flex-col;
        justify-content: center;
        gap: 2px;
      }
      &-count {
        color: $white;
        font-size: 12px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
      }
      button {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0, 0, 0, .6);
      }
    }
    &__footer {
      @include flex-col;
      gap: 8px;
      margin-top: 16px;
      &-title {
        color: $gray-80;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
      }
      &-summary {
        color: $gray-80;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}
#shoemarkerShortsModal.modal {
  background-color: $black;
}
#shoemarkerShortsModal-listsheet.bottom-sheet {
  z-index: 2000;
  .bottom-sheet__dim {
    background: transparent;
  }
  .bottom-sheet__content {
    max-height: calc(74% + env(safe-area-inset-bottom));
    height: 100%;
    .product {
      &__list {
        @include flex-col;
        gap: 8px;
      }
      &__item {
        padding-bottom: 8px;
        border-bottom: 1px solid $gray-20;
      }
      &-card {
        &__wrap {
          @include flex(center, flex-start);
          gap: 16px;
          .btn {
            width: 53px;
            padding: 8px 8px;
            white-space: nowrap;
          }
        }
        &__img {
          position: relative;
          width: 75px;
          aspect-ratio: 1 / 1;
        }
        &__info {
          @include flex-col;
          width: calc(100% - 75px - 53px);
        }
        &__brand {
          color: $gray-60;
          font-size: 12px;
          font-weight: 500;
          line-height: 120%;
        }
        &__name {
          @include ellipsis;
          color: $gray-80;
          font-size: 14px;
          font-weight: 400;
          line-height: 120%;
          margin-bottom: 2px;
        }
        &__price {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          color: $gray-80;
          font-size: 14px;
          font-weight: 600;
          line-height: 120%;
        }
      }
    }
  }
}