@use '../base/mixin' as *;
@use '../base/variables' as *;

.main {
  background: $white;
  // main section common
  .section {    
    position: relative;
    background: $white;
    z-index: 1;
    &__inner {
      max-width: 100%;
      min-height: auto;
      padding: 0 16px;
    }
    &__title {
      padding: 0;
      border-bottom: 0;
      color: $white;
      font-size: 22px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0;
      text-transform: uppercase;
      background-color: $black;
      padding: 0 20px;
      clip-path: polygon(
        0 19.1722px,
        16.5545px 0,
        100% 0,
        100% calc(100% - 16.1944px),
        calc(100% - 16.554px) 100%,
        0 100%
      );
      @include tablet {
        font-size: 15px;
        font-weight: 500;
      }
    } 
    &__desc {
      color: $black;
      font-family: $font-en;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
    }

    &--hero {
      /*position: fixed;
      inset: 0;
      left: 0;
      top: 0;
      z-index: 0;*/
      &::after {
        content: none;
        position: absolute;
        inset: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: var(--hero--after-opacity);
        z-index: 1;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
      }
    }
    &--hotissue {
      padding: 21px 0 24px;
      .hotissue {
        &__list {
          display:grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 12px 8px;
        }
      }
      .hotissue-card {
        &__link {
          @include flex-col;
          gap: 8px;
        }
        &__img {
          img {
            width: 100%;
          }
        }
        &__info {
          font-family: $font-base;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    &--recommend {
      padding: 24px 0;
      .recommend {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
      }
    }
    &--category-best {
      padding: 24px 0;
      .category-best {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 24px;
        }
        // navigation
        &__nav {
          margin: 0 -24px 16px;
        }
        &__nav-list {
          display: flex;
          align-items: center;
          gap: 24px;
          width: 100%;
          padding: 0 24px;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar { 
            display: none; 
          }
        }
        &__nav-item {
          &.is-active {
            .category-best__nav-btn {
              color: $gray-80;
              font-weight: 600;
              border-color: $gray-80;
            }
          }
        }
        &__nav-btn {
          display: inline-flex;
          align-items: flex-start;
          justify-content: center;
          color: $gray-60;
          font-size: 14px;
          font-weight: 400;
          width: max-content;
          height: 28px;
          padding: 0;
          border-bottom: 2px solid transparent;
        }
        // slide
        &__slider {
          .product__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            min-width: 0;
            gap: 16px 8px;
          }
        }
        &__slide-item {
          &.swiper-slide-active {
            .best-hot__card-slogan,
            .best-hot__card-link {
              opacity: 1;
              -webkit-transform: translateX(0);
              transform: translateX(0)
            }
          }
        }
        &__card {
          @include flex-col;
          align-items: center;
        }
        &__card-thumb {
          overflow: hidden;
          width: 100%;
          aspect-ratio: 369 / 457;
          background: #F2F2F2;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        }
        &__card-img {
          width: 100%;
          height: 100%;
          object-fit: cover;      
        }
        &__card-body {
          @include flex-col;
          align-items: center;
          gap: 15px;
          padding: 0 16px;
          margin-top: -80px;
          &--no-slogan {
            padding-top: 112px;
          }
        }
        &__card-slogan {
          overflow: hidden;
          max-height: 112px;
          color: $gray-90;
          font-family: $font-en;
          font-size: 56px;
          font-weight: 800;
          line-height: 100%;      
          opacity: 0;
          -webkit-transform: translateX(20px);
          transform: translateX(20px);
          transition: transform .5s ease-in-out .1s, opacity .7s ease .1s;
        }
        &__card-link {
          display: inline-block;
          width: 55px;
          height: 54px;
          font-size: 0;
          @include bgimage('main/icon_cir_link', 'png');
          background-size: cover;
          opacity: 0;
          -webkit-transform: translateX(20px);
          transform: translateX(20px);
          transition: transform .5s ease-in-out .2s, opacity .7s ease .2s;
        }
      }
    }
    &--brandnews {
      padding: 24px 0;
      .brandnews {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__visual {
          img {
            width: 100%;
          }
        }
        &__products {
          margin-top: 16px;
        }
      }
    }
    &--shots {
      padding: 24px 0;
      .shots {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        .shots-card {
          position: relative;
          aspect-ratio: 1/1.5;
          overflow: hidden;
          &__poster {
            width: 100%;
            height: 100%;
            &::before {
              @include before_after;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 280px;
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
              pointer-events: none;
              -moz-user-select: none;
              user-select: none;
              -webkit-user-select: none;
              z-index: 1;
            }
            img,
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &__products {
            @include flex(center, flex-start);
            gap: 8px;
            position: absolute;
            left: 16px;
            bottom: 26px;
            width: calc(100% - 32px);
            padding-right: 40px;
            z-index: 1;
          }
          &__img {
            position: relative;
            width: 55px;
            aspect-ratio: 1 / 1;
            .util__badge {
              top: -9px;
              right: -9px;
              width: 18px;
              height: 18px;
              font-size: 11px;
              line-height: 18px;
            }
          }
          &__name {
            @include ellipsis;
            color: $white;
            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
          }
          &__price {
            display: flex;
            align-items: center;
            gap: 4px;
            color: $white;
            font-size: 12px;
            font-weight: 600;
            line-height: 120%;
          }
          .playtime {
            position: absolute;
            right: 16px;
            bottom: 26px;
            color: $white;
            font-size: 12px;
            font-weight: 600;
            line-height: 120%;
            z-index: 1;
          }
          &__footer {
            @include flex-col;
            gap: 8px;
            margin-top: 16px;
            &-title {
              color: $gray-80;
              font-size: 16px;
              font-weight: 700;
              line-height: 120%;
            }
            &-summary {
              color: $gray-80;
              font-size: 14px;
              font-weight: 400;
              line-height: 120%;
            }
          }
        }
      }
    }
    &--style {
      padding: 24px 0;
      .style {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__list {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          min-width: 0;
          gap: 8px;
          .style-card {
            position: relative;
            &__img {
              img {
                width: 100%;
              }
              &::after {
                @include before_after;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 185px;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                pointer-events: none;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
                z-index: 1;
              }
            }
            &__info {
              position: absolute;
              left: 16px;
              bottom: 20px;
              width: calc(100% - 32px);
              z-index: 1;
            }
            &__name {
              color: $white;
              font-size: 17px;
              font-weight: 700;
              line-height: 120%;
            }
          }
        }
      }
    }
    &--arrival {
      padding: 24px 0;
      .arrival {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__list {
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          min-width: 0;
          gap: 8px;
          > :first-child {
            grid-column: span 2;
            grid-row: span 2;
            .product-card__info {
              left: 16px;
              bottom: 16px;
              width: calc(100% - 32px);
            }
          }
          .product-card {
            position: relative;
            &__img {
              &::after {
                @include before_after;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                max-height: 118px;
                height: 70%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                pointer-events: none;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
                z-index: 1;
              }
            }
            &__info {
              position: absolute;
              left: 8px;
              bottom: 8px;
              width: calc(100% - 16px);
              z-index: 1;
            }
            &__brand {
              color: $white;
              font-size: 10px;
              font-weight: 500;
              line-height: 120%;
            }
            &__name {
              color: $white;
              font-size: 12px;
              font-weight: 400;
              line-height: 120%;
              margin-bottom: 2px;
            }
            &__cost {
              .price {
                color: $white;
                font-size: 12px;
                font-weight: 600;
                line-height: 120%;
              }
            }
          }
        }
      }
    }
    &--exclusive-offer {
      padding: 24px 0;
      .exclusive-offer {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__products {
          max-width: 680px;
          width: 100%;
          padding: 0 20px;
          margin: 0 auto;
        }
        .swiper-pagination {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          margin-top: 8px;
          .swiper-pagination-bullet-active {
            background-color: $black;
          }
        }
      }
    }
    &--lookbook {
      padding: 32px 0;
      background-color: $gray-90;
      .lookbook {
        @include flex-col;
        gap: 16px;
        &__title {
          color: $white;
          font-size: 25px;
          font-weight: 700;
          line-height: 120%;
        }
        &__thumb {
          img {
            width: 100%;
          }
        }
        &__summary {
          color: $white;
          font-size: 25px;
          font-weight: 700;
          line-height: 120%;
        }
        &-pagination {
          @include flex(center, center);
          width: 100%;
          height: 3px;
          padding: 0;
          margin: 0;
          background-color: $gray-60;
          .swiper-pagination-bullet {
            flex-shrink: 0;
            flex: 1;
            height: 3px;
            padding: 0;
            margin: 0;
            opacity: 0;
            &-active {
              opacity: 1;
              background-color: $white;
            }
          }
        }
      }
    }
    &--popular-ranking {
      padding: 24px 0;
      .popular-ranking {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__products {
          width: 100%;
          @include mobile {
            width: calc(100% - 50px);
          }
        }
        &__list {
          counter-reset: rank;
          height: 312px;
        }
        &__item {
          counter-increment: rank;
          position: relative;
          padding-left: 16px;
          &::before {
            content: counter(rank);
            position: absolute;
            top: 0;
            left: 0;
            color: $gray-80;
            font-size: 12px;
            font-weight: 500;
            line-height: 120%;
          }
        }
        .product-card {
          &__link {
            flex-direction: row;
            align-items: center;
            gap: 16px;
          }
          &__img {
            width: 66px;
          }
        }
      }
    }
    &--redefinition {
      padding: 24px 0;
      .redefinition {
        &__header {
          @include flex(center, space-between);
          margin-bottom: 16px;
        }
        &__item {
          position: relative;
        }
        &__thumb img {
          width: 100%;
        }
        &__content {
          position: absolute;
          left: 16px;
          bottom: 32px;
          width: calc(100% - 32px);
        }
        &__title {
          color: $white;
          font-size: 14px;
          font-weight: 500;
          line-height: 120%;
        }
        &__desc {
          color: $white;
          font-size: 21px;
          font-weight: 700;
          line-height: 120%;
          margin-top: 7px;
        }
        &__items {
          @include flex(center, space-between);
          padding: 4px;
          background-color: $white;
          margin-top: 16px;
        }
        &__items-wrap {
          @include flex(center, center);
          gap: 4px;
          .redefinition__link {
            width: 44px;
          }
        }
        &__items-more {
          @include flex(center, center);
          color: $gray-60;
          font-size: 11px;
          font-weight: 120%;
        }
      }
    }
  }


  &__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 56px;
    background-color: $white;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: calc(100% - 48px);
      height: 8px;
      background-color: #eee;
    }
  }
  // 상품 공통 메인에서
  .product-card {
    position: relative;
    &__link {
      @include flex-col;
      gap: 12px;
    }
    &__wish {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 20px;
      height: 20px;
      padding: 0;
      @include bgimage('icon_like_off_gray', 'svg');
      &.is-active {
        @include bgimage('icon_like_on', 'svg');
        background-size: cover;
      }
    }
  }
  .hero-swiper {
    &::after {
      @include before_after;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 36.27px;
      height: 24.19px;
      background-color: $white;
      clip-path: polygon(
        36.275px 0,
        36.275px 24.1944px,
        0 24.1944px
      );
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
      z-index: 1;
    }
    &__slide {
      &.swiper-slide-active {
        .hero-swiper__flow-txt-track {
          animation: flow-left 10s .75s linear infinite;
        }
      }
    }
    @keyframes flow-left {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-66.6666%);
      }
    }
    &__link {
      position: relative;
      display: block;
      height: 100dvh;
      @include tablet {
        height: calc(100dvh - 76px);
        background-color: transparent;
      }
    }
    &__img-box {
      position: absolute;
      inset: 0;
      padding-bottom: 24px;
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
      }
    }
    &__flow-txt-box {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      overflow: hidden;
      background-color: $black;
      clip-path: polygon(0 27.1722px, 32.5545px 0, 100% 0, 100% calc(100% - 24.1944px), calc(100% - 32.554px) 100%, 0 100%);
      z-index: 1;
      &::after {
        @include before_after;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
      }
    }
    &__flow-txt-track {
      display: flex;
      align-items: center;
      width: max-content;
      white-space: nowrap;
    }
    &__flow-title {
      display: none;
      color: #fff;
      font-size: 14px;
      line-height: 120%;
      max-width: 530px;
    }
    &__flow-desc {
      @include flex(center, flex-start);
      gap: 16px;
      color: $white;
      font-size: 23px;
      font-weight: 700;
      line-height: 150%;
      padding: 0 0 0 32px;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 20px;
      position: absolute;
      left: 32px;
      top: 80%;
      transform: translateY(-50%);
      z-index: 1;
    }
    &__controls {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
      opacity: 0;
      transform: translateY(20px);
      transition: transform .5s ease-in-out .3s, opacity .7s ease .5s;
    }
    &__fraction {
      display: flex;
      align-items: center;
      gap: 4px;
      width: auto;
      color: $white !important; 
      font-family: $font-en;
      font-size: 14px;
      line-height: 120%;    
      .swiper-pagination-current,
      .current {
        font-weight: 600;
        opacity: 1;
      }
      .swiper-pagination-total,
      .total {
        opacity: 0.7;
        margin: 0;
      }
    }
    &__fraction-sep {
      opacity: 0.7;
    }
    &__more {
      flex-shrink: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      @include bgimage('icon_cir_more', 'svg');
    }
    &__progress {
      width: 120px;
      height: 2px;
      overflow: hidden;
      background: #4D4D4D;
      &-bar {
        display: block;
        width: 100%;
        height: 100%;
        background: $white  ;
        transform: scaleX(0);
        transform-origin: left center;
      }
    }
  }
  .ai-chat {
    position: absolute;
    left: 24px;
    bottom: 185px;
    z-index: 1;
    display: none;
    &__icon-wrap {
      width: 26px;
      height: 26px;
    }
    &__btn {
      padding: 5px 16px;
    }
    &__label {
      font-size: 12px;
    }
  }
  .scroll-to-discover {
    position: absolute;
    left: 50%;
    bottom: 94px;
    transform: translateX(-50%);
    @include flex-col;
    gap: 8px;
    z-index: 1;
    display: none;
    &__icon {
      display: block;
      width: 24px;
      height: 24px;
      border:1px solid $white;
      border-radius: 50%;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        animation: scroll-to-discover-floatY 1.35s ease-in-out infinite;
      }
    }
    &__label {
      color: $white;
      font-size: 8px;
      font-weight: 400;
      line-height: 140%;
      opacity: .7;
    }
  }
  @keyframes scroll-to-discover-floatY {
    0% {
      transform: translateY(-3px);
      opacity: 1;
    }
    65% {
      transform: translateY(3px);
      opacity: 1;
    }
    95% {
      transform: translateY(3px);
      opacity: 0;
    }
    100% {
      transform: translateY(3px);
      opacity: 0;
    }
  }
}
